$art-width: 1000px;
$art-height: 1000px;
$pl: 16rem;
$pm: 4rem;
$ps: 2rem;

.art {
    iframe {
        z-index: -1;

        overflow: hidden;

        width: calc(100vw - #{$pl});
        max-width: 95vw;
        height: 95vh;
        max-height: 95vh;

        border: none;

        @include break(lmedium) {
            width: calc(100vw - #{$pm});
            height: 80vh;
        }
        @include break(small) {
            width: calc(100vw - #{$ps});
        }
    }
    .f-feigen,
    .f-agents,
    .f-groups {
        width: 88vw;
        height: 90vh;
    }
    .f-fireworks,
    .f-flowfield,
    .f-flocking {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;

        @include break(lmedium) {
            width: 100vw;
            height: 100vh;
        }
    }
    &.i-fireworks,
    &.i-fireworks a, {
        color: $text-light;
    }
}
