$lightgray          : #999999;
$darkgray           : #333333;
$white              : #FFFFFF;

$darkblue           : #3B28CC;
$lightblue          : #3FAFFF;
$red                : #E7040F;
$beige              : #FDF6E3;
$purple             : #5E2CA5;
$spotify            : #1ED760;

$main-colour        : $red;
$secondary-colour   : $lightblue;
$accent-colour      : $purple;
$background-colour  : $white;

$text-dark          : $darkgray;
$text-light         : $white;

$selection          : #ABA7E8;

$base-font-size     : 18px;
$base-line-height   : 1.6;

$success-colour     : #83CC61;
$error-colour       : $red;

$bradius            : 2px;

$side-padding-small : 1.5rem;

$s-animation        : 0.250s ease-in-out;
